@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,900&display=swap');

/* Global style */

/* Website format and fonts/colours */
body {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  background-color: #eFF3f7;
  color: #112027;
  height: 100vh;
}

main {
  margin: 5vh 5vw;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: #1f3f50;
  text-align: center;
}

/* Navbar style */
.navbar-theme {
  background-color: #112027;
}

.navbar-dark .navbar-brand {
  color: #ffa200;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-weight: 900;
  font-size: 1.2rem;
  font-family: 'Rubik', sans-serif;
  margin-right: 0;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #ffa200;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f2f2f0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #792222;
}

#navbarSupportedContent.collapse.navbar-collapse {
  flex-grow: 0;
}

/* Hero Section image styling */
.hero {
  display: flex;
  overflow: hidden;
  height: 75vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 2px #112027;
}

.hero-content {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  object-position: center;
  color: #eFF3f7;
  width: 100%;
  z-index: 0;
}

.hero-img {
  display: flex;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 75vh;
  z-index: -1;
}

/* Home page style */

/* Override the body color style for h1 */
.hero-content > h1 {
  color: #eFF3f7;
}

/* Home page About style */
#main-about {
  padding-bottom: 5vh;
  border-bottom: solid thin #112027;
}

/* main button style for site */
.dark-btn {
  background-color: #112027;
  color: #eFF3f7;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 0.75rem;
}

.dark-btn:hover {
  background-color: #792222;
  color: #eFF3f7;
}

/* Home page Services section. Styling of the image containers and their content */
#main-services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  border-bottom: solid thin #112027;
  padding-bottom: 5vh;
}

.main-container {
  display: flex;
  height: 320px;
  width: 280px;
  margin: 2vw;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 5px 10px #112027;
}

.main-img {
  width: auto;
  height: auto;
  vertical-align: middle;
  z-index: -1;
}

.main-content { 
  position: absolute;
  text-align: center;
  justify-content: center;
  z-index: 1;
}

.main-content h3 {
  color: #eFF3f7;
  text-transform: capitalize;
}

.main-content h3:hover {
  color: #ffa200;
}

/* Home page request a booking form */
#main-booking {
  flex-direction: column;
  text-align: center;
  margin-top: 5vh;
}

#flname1 {
  margin-bottom: 0.8rem;
  width: 50%;
  border: solid 1px;
  border-radius: 5px;
}

#email1 {
  margin-bottom: 0.8rem;
  width: 50%;
  border: solid 1px;
  border-radius: 5px;
}

#main-booking textarea {
  margin-bottom: 0.6rem;
  width: 80%;
  border: solid 1px;
  border-radius: 5px;
}

/* About Us page style */

/* Who We Are section style */
#about-us {
  border-bottom: solid thin #112027;
  padding-bottom: 5vh;
}

#profile-img {
  border-radius: 50%;
  overflow: hidden;
  height: auto;
  margin: auto;
  max-width: 288px;
}

#profile-img > img {
  height: auto;
  width: 100%;
}

/* What We Offer section style */
#our-services {
  margin: 5vh 0;
  border-bottom: solid thin #112027;
  padding-bottom: 5vh;
}

/* Our work section style */
#our-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}

.example-work {
  margin: 1vh;
  box-shadow: 0 5px 10px #112027;
  border-radius: 5px;
}

.example-work img {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

/* Services page style */

/* Style for the structure of services information and images */
.left {
  background-color: #112027;
  color: #eFF3f7;
  box-shadow: 0 5px 10px #112027;
  margin-top: 2vh;
  padding: 2vh;
  border-radius: 10px;
}

.right {
  background-color: #112027;
  color: #eFF3f7;
  box-shadow: 0 5px 10px #112027;
  margin-top: 2vh;
  padding: 2vh;
  border-radius: 10px;
}

.col2 h3 {
  color: #ffa200;
}

/* Style of image tiles */
#packages img {
  height: 320px;
  width: 288px;
  box-shadow: 0 5px 10px #112027;
  border-radius: 10px;
}

/* Services Information box */
.packages-content {
  padding-top: 2vh;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
}

/* Booking accent section */
.booking-content {
  background-color: #792222;
  margin-top: 2vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 5px 10px #112027;
  border-radius: 10px;
}

.booking-content h2 {
  color: #eFF3f7;
  text-shadow: 0 1px 2px #112027;
}

/* Change main button type style to orange with black text  */
.booking-content .dark-btn {
  color: #112027;
  background-color: #ffa200;
}

/* Gallery Page style */

/* Portfolio images grid style */
.column img {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  vertical-align: middle;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 10px #112027;
}

/* Contact Page style */

/* Style for page background colour to override main body style */
.dark-body {
  background-color: #1F3F50;
}

/* Structure/format style for Get In Touch, Contact Details, Where To Find Us containers */
.ind-col {
  padding: 2vh;
  margin: 2vh;
  border-radius: 10px;
}

.blue-bg {
  color: #f2f2f0;
}

.blue-bg h2 {
  color: #f2f2f0;
  padding-bottom: 2vh;
  text-shadow: 0 1px 2px #19181b;
}

/* Get In Touch Contact Form style */
/* First and last Name field */
#flname2 {
  margin-bottom: 0.8rem;
  width: 60%;
  border: solid 1px;
  border-radius: 5px;
}

/* Email field */
#email2 {
  margin-bottom: 0.8rem;
  width: 60%;
  border: solid 1px;
  border-radius: 5px;
}

/* Message box */
#mbox2 {
  margin-bottom: 0.6rem;
  width: 90%;
  border: solid 1px;
  border-radius: 5px;
}

/* Contact Details style */
address a {
  text-decoration: none;
  color: #eFF3f7;
}

address a:hover {
  color: #ffa200;
}

/* Social media links style */
#contact-socials {
  margin: 5vh 0;
}

#contact-socials a {
  padding: 5vw;
  text-decoration: none;
  color: #ffa200;
  font-size: 2em;
}

#contact-socials a:hover {
  color: #eFF3f7;
}

/* main button style overridden for colour scheme */
.blue-bg .dark-btn {
  background-color: #ffa200;
  color: #112027;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 0.75rem;
}

.blue-bg .dark-btn:hover {
  background-color: #eFF3f7;
  color: #112027;
}

/* Responsive Embedded Google Map */
#map {
  padding-top: 5vh;
  margin: 2vh;
  border-top: solid 1px #112027;
}

#responsive-map{
  overflow: hidden;
  padding-bottom: 56%;
  position: relative;
  height: 0;
  border-radius: 10px;
}

#responsive-map iframe{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Footer style */

footer {
  display: block;
  background-color: #112027;
  color: #f2f2f0;
  text-align: center;
  margin-bottom: 0;
}

/* Social media links and copyright style */
.footer-socials a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: #ffa200;
  font-size: 2em;
}

.footer-socials a:hover {
  color: #792222;
}

.copyright {
  color: #eFF3f7;
  text-align: center;
  padding: 0 0.4rem 0.2rem;
}

/* Media Queries */

/* Desktop screen size */
@media (min-width: 900px) {
  
  /* Navigation bar */
  .navbar {
    font-size: 1.2rem;
  }

  .navbar-dark .navbar-brand {
    font-size: 2rem;
  }

  /* homepage service images to be in line rather than stack */
  .main-container {
    flex: 20%;
    width: 20%;
  }

  /* homepage form fields change of width at larger screen size so isn't too stretched */
  #flname1 {
    margin-bottom: 10px;
    width: 30vw;
  }
  
  #email1 {
    margin-bottom: 10px;
    width: 30vw;
  }
  
  #main-booking textarea {
    margin-bottom: 10px;
    width: 50vw;
  }

  /* About page style */

  #about-us {
  display: flex;
  border-bottom: solid thin #112027;
  padding-bottom: 5vh;
  width: 100%;
  }

  .about-col1 {
  width: 70%;
  padding: 2vw;
  }

  .about-col2 {
  display: flex;
  width: 30%;
  vertical-align: middle;
  }

  #profile-img {
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  }

  #profile-img > img {
  height: 100%;
  width: 100%;
  }

  .example-work {
    flex: 50%;
    max-width: 46%;
    margin: 2vh 0;
    border-radius: 5px;
  }

  /* Services page style */

  #basic-valet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  #full-valet {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #correction {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  #concours {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .col1 {
    margin: 1vw;
    justify-content: center;
    width: 30%;
  }

  .col2 {
    margin: 1vw;
    justify-content: center;
    width: 70%;
  }

  .col3 {
    display: block;
    width: 100%;
    margin-top: 2vh;
    font-size: 2rem;
  }

  /* Gallery page - Four columns stacked on one another - 
  External CSS code for Responsive grid Gallery */
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  /* Contact page - booking form side by side contact information */
  .container {
    padding: 0;
  }

  .contact-column {
    display: flex;
    margin: 0;
    justify-content: center;
  }

  .ind-col {
    width: 50%;
    margin-bottom: 5vh;
  }

  #contact-details {
    padding: 0;
  }

  #contact-socials a {
    padding: 1rem;
  }
}

/* Tablet screen size */
@media (min-width: 768px) and (max-width: 899px) {

  /* About page style */

  #about-us {
    display: flex;
    border-bottom: solid thin #112027;
    padding-bottom: 5vh;
    width: 100%;
  }

  .about-col1 {
    width: 70%;
    padding: 2vw;
  }

  .about-col2 {
    display: flex;
    width: 30%;
    vertical-align: middle;
  }

  #profile-img {
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
  }

  #profile-img > img {
    height: 100%;
    width: 100%;
  }

  .example-work {
    flex: 50%;
    max-width: 46%;
    margin: 1vh 0;
    border-radius: 5px;
  }

  /* Services page style */

  #basic-valet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  #full-valet {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #correction {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  #concours {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .col1 {
    margin: 1vw;
    width: 30%;
    vertical-align: middle;
    align-self: center;
  }

  .col2 {
    margin: 1vw;
    justify-content: center;
    width: 70%;
    max-height: 320px;
  }

  .col3 {
    display: block;
    width: 100%;
    margin-top: 2vh;
    font-size: 2rem;
  }

  /* Gallery page - Two columns stacked on one another */
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }

  /* Contact page - booking form side by side contact information */
  .container {
    padding: 0;
  }

  .contact-column {
    display: flex;
    margin: 0;
    justify-content: center;
  }

  .ind-col {
    width: 50%;
    margin-bottom: 5vh;
  }

  #contact-details {
    padding: 0;
  }

  #contact-socials a {
    justify-content: space-evenly;
    padding: 1rem;
    text-align: center;
  }
}