@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* Global style */

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f2f2f0;
  color: #19181b;
}

main {
  margin: 5vh 5vw;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color:#FF8A00;
  text-align: center;
}

/* Navbar style */
.navbar-theme {
  background-color: #19181b;
}

.navbar-dark .navbar-brand {
  color: #FF8A00;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #FF8A00;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f2f2f0;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ae4836;
}

#navbarSupportedContent.collapse.navbar-collapse {
  flex-grow: 0;
}

/* Home page style */

/* Hero image styling */
.hero {
  display: flex;
  overflow: hidden;
  height: 75vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: absolute;
  margin-top: 50%;
  margin-bottom: 50%;
  text-align: center;
  text-transform: uppercase;
  color: #f2f2f0;
  width: 100%;
  z-index: 0;
}

.hero-img {
  display: flex;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 75vh;
  z-index: -1;
}

/* Override the body color style for h1 */
.hero-content > h1 {
  color: #f2f2f0;
}

/* Main page About style */
#main-about {
  padding-bottom: 2vh;
}

.dark-btn {
  background-color: #19181b;
  color: #f2f2f0;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 0.75rem;
}

.dark-btn:hover {
  background-color: #ae4836;
  color: #19181b;
}

/* Main page Services section */
#main-services {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  height: 320px;
  width: 280px;
  margin: 2vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px #19181b;
}

.main-img {
  width: auto;
  height: auto;
  z-index: -1;
}

.main-content { 
  position: absolute;
  text-align: center;
  justify-content: center;
  z-index: 1;
}

.main-content h3 {
  color: #f2f2f0;
  text-transform: capitalize;
}

.main-content h3:hover {
  color: #FF8A00;
}

/* Main page request a booking */
#main-booking {
  position: relative;
  flex-direction: column;
  padding: 1rem 0;
  text-align: center;
}

#main-booking input {
  margin-bottom: 10px;
}

#main-booking textarea {
  margin-bottom: 10px;
}

.submit-btn {
  background-color: #19181b;
  color: #f2f2f0;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 0.75rem;
}

/* About Us page style */

#profile-img {
  border-radius: 50%;
  overflow: hidden;
  height: auto;
  max-width: 100%;
}

#profile-img > img {
  max-height: 100%;
  max-width: 100%;
}

#our-services {
  margin: 5vh 0;
}

#our-work {
  overflow: hidden;
  margin: 5vw;
}

#our-work img {
  display: block;
  padding-top: 2vh;
  max-height: 100%;
  max-width: 100%;
  overflow: visible;
}

/* Services page style */

#packages img {
  height: 320px;
  width: 280px;
}

.packages-content {
  padding-top: 2vh;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
  border-bottom: solid thin #9b9191;
}

/* Gallery Page style */

/* External CSS code for Responsive grid Gallery */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Four equal image columns next to each other */

.column img {
  margin-top: 4px;
  margin-bottom: 4px;
  vertical-align: middle;
  width: 100%;
}

/* Contact Page style */

/* Responsive layout Embedded Google Map */
.responsive-map{
  overflow:hidden;
  padding-bottom:56%;
  position:relative;
  height:0;
}
.responsive-map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/* Footer style */

footer {
  background-color: #19181b;
  color: #f2f2f0;
  text-align: center;
}

.footer-contact {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-contact a {
  text-decoration: none;
  color: #f2f2f0;
}

.footer-contact a:hover {
  color: #ae4836;
}

/* Get Directions button */
footer form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background-color: #9b9191;
  color: #f2f2f0;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 0.75rem;
}

footer form input:hover {
  background-color: #ae4836;
  color: #f2f2f0;
}

.footer-navigation a {
  text-decoration: none;
  color: #f2f2f0;
}

.footer-navigation a:hover {
  color: #ae4836;
}

.footer-socials a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: #FF8A00;
  font-size: 2em;
}

.footer-socials a:hover {
  color: #ae4836;
}

.copyright {
  color: #f2f2f0;
  text-align: center;
  margin: 0.5rem;
}

@media (min-width: 1024px) {
  /* Responsive layout (desktop) - Four columbs side by side */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .hero-img {
    overflow: visible;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  /* Responsive layout (iPad) - Four column to Two Column */
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }

  .hero-img {
    overflow: visible;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 568px) {
  /* Responsive layout (Mobile landscape) - Two columns to One column to stack on top of each other */
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
  }

  .hero-img {
    overflow: visible;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 325px) {
  /* Responsive layout (Mobile) - Two columns to One column to stack on top of each other */
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
  }

  .hero-img {
    overflow: visible;
    width: auto;
    height: 100%;
  }
}